html, body, div, span,object, iframe,
h1, h2, h3, h4, h5, h6, p,ul, li,tr, th,
td,footer, header,menu,output,section,
summary,time, mark,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	background-color: #f1f1f1;
	width: 100%;
	margin: 0;
	padding: 0;
}
#wraper{
	background-image:url(images/header-bg.jpg);
	height: 422px;
	width: 100%;
	background-size: cover;
	background-position: center bottom;
}
#header{
	color: #e9ffff;
	text-align: center;
	padding-top: 150px;
}
#site_name{
	font-size: 50px;
	font-weight: bold;
}
#tag_line{
	font-size: 20px;
}
#menubar_area{
	height: 60px;
	background-color: #ffffff;
	border-bottom: 2px solid #e2e2e2;
}
#menubar{
	height: 60px;
	width: 1170px;
	margin: 0 auto;
}
#top_menu{
	margin: 0;
	padding: 0;
}
#top_menu li{	
	list-style-type: none;
	display: inline-block;
}
#top_menu > li a{
	color: #444;
	font-size: 13px;
	font-weight: bold;
	padding: 20px 18px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}
#top_menu a:hover{
	color: #ff6644;
}
.triangle:hover >ul >li > a::after{
	content: '';
	width: 0px;
	height: 0px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ff6644;	
}
#top_menu .triangle:hover >ul >li > a::after{
	margin-top: 30px;
	margin-left: -20px;
	position: absolute;
}
#menu{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu ul{
	display: none;
	position: absolute;
	list-style-type: none;
	margin-left: 16px;
	border-top: 4px solid #ff6644;
	border-radius: 3px;
	width: 200px;
}
#menu ul li{
	width: 200px;
}
#menu ul li a{
	color: #444;
	background-color: #ffffff;
	padding: 15px 20px;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	text-decoration: none;
}
#menu:hover ul{
	display: block;
}
#menu ul li:hover a{
	color: #ffffff;
	background-color: #ff6644;
	border: none;
}
/*****************************************************************************************************************************************/
#container{
	min-height: 1000px;
	width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	margin-top: 50px;
}
#content{
	min-height: 1000px;
	width: 750px;
	float: left;
}
.post{
	background-color: #ffffff;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	margin-bottom: 50px;
}
.featured_image_box{
	overflow: hidden;
	border-bottom: 3px solid #ff6644;
}
.overlay{
	display: none;
	position: absolute;
	z-index: 999999;
	background-color: transparent;
	-moz-transition: all 1.5s;
  	-webkit-transition: all 1.5s;
  	transition: all 1.5s;
}
.featured_image_box .overlay{	
	width: 748px;
	height: 419px;
}
.featured_image_box:hover .overlay{
	display: block;
	opacity: 0.6;
	background-color: #ea5b3b;
}
.featured_image_box img{
	width: 100%;
	-moz-transition: all 1.5s;
  	-webkit-transition: all 1.5s;
  	transition: all 1.5s;
}
.featured_image_box:hover img{
	-moz-transform: scale(1.2);
  	-webkit-transform: scale(1.2);
  	transform: scale(1.2);
}
.post_body{
	padding: 40px 74px 60px 50px;
}
.post_title{
	margin-bottom: 40px;
}
.post_title h2{
	float: left;
	width: 570px;
}
.post_title a{
	text-decoration: none;
	color: #444;
	font-size: 28px;
	font-weight: bold;
}
.post_title a:hover{
	color: #ff6644;
}
.post_title span{
	color: #888888;
	float: right;
	font-weight: bold;
	padding-top: 10px;
}
.post_content{
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 60px;
}
.read_more{
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ff6644;
	padding: 15px 10px;
	border-radius: 2px;
}
.read_more:hover{
	background-color: #ea5b3b;
}
.page_list{
	margin: 80px 285px 60px 285px;
}
.page_list a{
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	padding: 6px 11.5px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 2px;
}
.page_list a:hover{
	color: #ffffff;
	background-color: #ff6644;
	border-radius: 3px;
}
.page_list .active{
	color: #ffffff;
	background-color: #ff6644;
	border: none;
	padding: 7px 12px;
}
/**************************************************************************************************************************************/
#sidebar{
	min-height: 1000px;
	width: 358px;
	float: right;
}
#writter{
	background-color: #ffffff;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
}
#cover_image{
	width: 100%;
}
#profile_image{
	width: 120px;
	height: 120px;
	position: absolute;
	border-radius: 65px;
	border: 4px solid #e2e2e2;
	margin-left: 190px;
	margin-top: 30px;
}
#writter_detail{
	padding: 35px;
}
#writter_title{
	margin-bottom: 15px;
	font-weight: bold;
	display: inline-block;
}
#writter_title h2{
	color: #444;
	float: left;
	font-size: 18px;
	width: 100px;
}
#writter_title a{
	color: #888888;
	float: right;
	font-size: 13px;
	padding-top: 4px;
}
#writter_content{
	font-size: 17px;
	line-height: 24px;
}
.widget{
	background-color: #ffffff;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	min-height: 100px;
	margin-top: 35px;
	padding: 35px;
}
.widget_title{
	text-transform: uppercase;
	color: #444;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
#widget_icon a{
	color: #999999;
	height: 22px;
	width: 22px;
	background-color: #ebebeb;
	display: inline-block;
	padding: 5px;
	text-align: center;
	margin-right: 10px;
	border-radius: 2px;
}
#widget_icon a:hover{
	color: #ffffff;
	background-color: #ff6644;
}
#widget_email_subscribe p{
	font-size: 17px;
	line-height: 24px;
}
#widget_email_subscribe input[type=text]{
	width: 95%;
	height: 40px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #f7f7f7;
	margin-top: 15px;
	padding-left: 10px;
	color: #444;
}
#widget_email_subscribe input[type=submit]{
	width: 100%;
	height: 42px;
	border: none;
	border-radius: 4px;
	background-color: #ff6644;
	margin-top: 15px;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}
#widget_email_subscribe input[type=submit]:hover{
	background-color: #ea5b3b;
}
.popular_post{
	display: inline-block;
}
.popular_post td{
	float: left;
}
.popular_post img{
	border-radius: 4px;
	margin-right: 20px;
}
.popular_post a{
	color: #444;
	font-size: 18px;
	text-decoration: none;
}
.popular_post a:hover{
	color: #ff6644;
}
.popular_post p{
	color: #444;
	font-size: 14px;
	margin-top: 10px;
}
.catagories li{
	list-style-type: none;
	padding: 10px 0;
	border-bottom: 1px solid #dddddd;
}
.catagories li a{
	text-decoration: none;
	color: #444;
	font-size: 18px;
}
.catagories li a:hover{
	color: #ff6644;
}
#instragram_box{
	display: inline-block;
	height: 300px;
}
.instragram_item .overlay{
	width: 135px;
	height: 146px;
}
.instragram_item:hover .overlay{
	display: block;
	opacity: 0.6;
	background-color: #ea5b3b;
}
.instragram_item{
	width: 135px;
	height: 146px;
	float: left;
	padding: 2px;
}
.instragram_item img{
	margin: 0;
	padding: 0;
	width: 135px;
	height: 146px;
	overflow: none;
	border-radius: 2px;
	-moz-transition: all 1.5s;
  	-webkit-transition: all 1.5s;
  	transition: all 1.5s;
}
#widget_search input[type=text]{
	width: 60%;
	height: 40px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #f7f7f7;
	margin-top: 15px;
	padding-left: 10px;
	color: #444;
}
#widget_search input[type=submit]{
	width: 30%;
	height: 42px;
	border: none;
	border-radius: 2px;
	background-color: #ff6644;
	margin-top: 15px;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}
#widget_search input[type=submit]:hover{
	background-color: #ea5b3b;
}
#footer{
	min-height: 430px;
	background-color: #202020;
	margin: 0 auto;
	padding-top: 45px;
}