@media only screen and (max-width: 782px){
	#wpadminbar{
		position: fixed !important;
	}
	img{
		max-height: 300px;
	}
	#social_icon{
		display: none;
	}
	#slider_area{
		display: none;
	}

	#menubar_right{
		display: none;
	}
	#menue_parent{
	    display: block;
	}
	#menue_parent label{
	    content: '';
	    position: absolute;
	    cursor: pointer;
	    height: 30px;
	    width: 44px;
	    margin: -5px 0 0 -15px;
	    border-radius: 3px;
	    /*background-color: orange; (for testing label area)*/
	}
	#menubar_left{
		display: none;
		width: 200px;
	}
	input[type=checkbox]:checked.menue_controller ~ #header #menubar #menubar_left{
		display: block;
	}
	#menubar_left li{
	    display: block;
	    width: 200px;
	    border-top: 1px solid pink;
	}
	#menubar_left li ul{
		margin-left: 30px;
	}
	#menubar_left li ul li{
		border-top: none;
	}

	#container{
		margin-top: 44px;
        -webkit-transition: margin-top 0.8s;
        -moz-transition: margin-top 0.8s;
        transition: margin-top 0.8s;
	}
    input[type=checkbox]:checked.menue_controller ~ #container{
        margin-top: 300px;
    }
	
	.content{
		margin-top: 2px;
	}
	#post_area{
		width: 100%;
	}
	.post_body{
		width: 100%;
		margin-right: 0;
	}
	.info_block{
		width: 100%;	
		margin-right: 0;
		display: block;
	}
	#footer_area{
		margin-top: 0px;
	}
	#footer_content{
		width: 96%;
		margin: 0 2%;
	}
	#file_icon{
		width: 20%;
		padding-left: 0;
	}
	#theme_info{
		width: 70%;
		padding: 15px 5%;
	}
	#designer_info{
		display: none;
	}
}