/* W3.CSS 4.04 Apr 2017 by Jan Egil and Borge Refsnes */

#slider_area{
    height: 500px;
    width: 100%;
    position: fixed;
    top: 50px;
    z-index: -1;
}

.slider{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50px;
    z-index: -1;
}

.slider_button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slider_button:hover {
    color: #000;
    background-color: #ccc;
}
.slider_button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.sl_btn_left,
.sl_btn_right {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.sl_btn_left {
    left: 0%;
}

.sl_btn_right {
    right: 0%;
}

#site_name{ 
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px #ffffff;
    margin-top: 100px;
}
#site_name a{
    color: #ef8496;
}
#tag_line{
    color: gold;
    font-size: 20px;
    text-align: center;
}