html, body, div, span,object, iframe,
h1, h2, h3, h4, h5, h6, p,ul, li,tr, th,
td,footer, header,menu,output,section,
summary,time, mark,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#wraper{
	width: 1005px;
	min-height: 1000px;
	background-color: #ffffff;
	font-family: sans-serif;
	margin: 0 auto;
}
#header{
	height: 94px;
	background: url(images/banner1.jpg);
}
#lang_button{
	position: absolute;
	margin-top: 10px;
	margin-left: 920px;
}
#menu_bar{
	width: 1005px;
	line-height: 43px;	
	text-transform: uppercase;
	background: url(images/menu_bg.jpg);
	list-style-type: none;
	margin: -4px 0 0 0;
}
#menu_bar li{
	display: inline-block;
	padding: 0 6px;
}
#menu_bar a{
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;	
}
#menu_bar a:hover{
	color: #ff0000;
}
#news{
	font-weight: 500px;
	height:30px;
	background:#014E22;
	color:#ffffff;
	margin: 6px 2px 6px 1px;
	padding:5px 0 5px 5px;
}
/***************************************************************************************************************************************/
#main{
	min-height: 600px;
}
#left{
	width: 220px;
	float: left;
}
#id_box{
	height: 140px;
	font-size: 13px;
	border: 1px solid #014E22;
}
#login_form_box{
	margin-bottom: 10px;
}
#login_form_box tr td{
	padding-top: 3px;
}
.login_button{
	color: #ffffff;
	background-color: #014E22;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
}
.login_button:hover{
	background-color: #333333;
}
#sidebar{
	margin: 15px 0;
	width: 230px;
	background-color: #ebf1de;	
}
#sidebar_menu{
	padding: 0;
	margin: 0;
}
#sidebar_menu li{
	list-style-type: none;
	border-bottom: 1px solid #d6d7d4;
	border-right: 1px solid #d6d7d4;
	border-left: 1px solid #d6d7d4;
}
#sidebar_menu li a{
	padding: 10px 20px;
	font-size: 13px;
	color: black;
	text-decoration: none;
	font-family: Arial,sans-serif;
	display: block;
}
#sidebar_menu li a:hover{
	background-color: #add8e6;
	color: #000080;
}
#sidebar_menu li:first-child {
	border-top: 1px solid #d6d7d4;
}
#impt_link_box{
	height: 280px;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #014E22;
	margin: 20px 0;
	padding-bottom: 10px;
}
#impt_link_box li{
	list-style-type: none;
	padding: 9px 7px;
	margin-left: 15px;
	border-bottom: 1px dashed #cccccc;
}
#impt_link_box a{
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-weight: normal;
}
#sm_media_box{
	height: 77px;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #014E22;
	margin: 20px 0;
	padding-bottom: 10px;
}
/***************************************************************************************************************************************/
#center{
	width: 515px;
	float: left;
	padding-left: 25px;
}
#slider_content img{
	display: none;
}
#slider_button_area{
	position: absolute;
	width: 500px;
	margin-top: 137px;
	padding: 0 7px;
}
#slider_button_right{
	float: right;
}
.center_box_a{
	height: 370px;
	width: 240px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #cccccc;
	float: left;
	margin-top: 40px;
}
.center_box_a li{
	list-style-type: none;
	padding: 9px 0;
	margin: 0 15px;
}
.center_box_a ul > li{
	border-bottom: 1px dashed #cccccc;
}
.center_box_a a{
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-weight: normal;
}
h3{
	width:160px;
	background-color:#609513;
	color:#ffffff;
	text-align:center;
	padding:7px 40px;
}
.center_box_b{
	height: 160px;
	width: 240px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #cccccc;
	float: left;
	margin: 20px 0;
	padding-bottom: 10px;
}
/*******************************************************************************************************************************************/
#right{
	width: 230px;
	float: right;
}
#chief_id{
	background-color: #ebe7e7;
	border: 1px solid #868686;
	font-family: 'Open Sans',Arial,verdana;
	font-size: 12px;
}
.bg_white{
	background-color: #f1f1f1;
}
#chief_id table td{
	padding: 2px;
}
#chief_id table td img{
	margin: 0; 
	padding: 3px;
	vertical-align: top;	
}
#chief_id table td p{
	margin-top: 12px;
}
#visit_box{
	height: 100px;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #014E22;
	margin: 20px 0;
	padding-bottom: 10px;
}
#notice_box{
	height: 650px;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #014E22;
	margin: 20px 0;
	padding-bottom: 10px;
}
#footer{
	height: 30px;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	background-color: #46526e;
	margin: 0 auto;
}
#footer a{
	color: #ffffff;
	font-size: 10px;
	font-family: Arial,sans-serif;
}