html, body, div, span,object, iframe,
h1, h2, h3, h4, h5, h6, p,ul, li,tr, th,
td,footer, header,menu,output,section,
summary,time, mark,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}
#wraper{
	background-image:url(images/head_phone.png);
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: center bottom;
}
#header{
	color: #ef8496;
	text-align: center;
	padding-top: 100px;
}
#site_name{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px #ffffff,
				 2px -2px #ffffff,
				-2px 2px #ffffff,
				-2px -2px #ffffff;
}
#tag_line{
	font-size: 20px;
	text-align: center;
}
#menubar_area{
	width: 100%;
	background-color: #ef8496;
}
#menubar{
	height: 50px;
	width: 1215px;
	padding-right: 15px;
	margin: 0 auto;
	margin-bottom: 50px;
}
#menubar .active{
	background-color: #d56979;
}
#menubar li{
	list-style-type: none;
	display: inline-block;
}
#menubar a{
	color: #ffffff;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	padding: 15px;
}
#menubar li:hover{
	background-color: #d56979;
}
#menubar_left li{
	float: left;
	padding: 15px;
}
.menu ul{
	display: none;
	position: absolute;
	list-style-type: none;
	margin-top: 15px;
	margin-left: -15px;
	width: 200px;
}
.menu ul li{
	width: 200px;
	background-color: #d56979;
}
#menubar .menu ul li:hover{
	background-color: #ef8496;
}
.menu ul li a{
	text-decoration: none;
}
.menu:hover ul{
	display: block;
}
#menubar_right{
	float: right;
}
#menubar_right a{
	height: 20px;
	width: 20px;
	text-align: center;
	border-radius: 24px;
	display: inline-block;
}
#menubar_right span{
	font-size: 20px;
}
#menubar #menubar_right a:hover{
	background-color: #e7b9bc;
}
#menubar #menubar_right li:hover span{
	color: #ffffff;
}
#container{
	width: 1200px;
	margin: 0 auto;
}
#post_area{
	width: 780px;
	float: right;
}
.post_body{
	min-height: 800px;
	width: 770px;
	margin-bottom: 50px;
	border-radius: 10px;
	background-color: #ffffff;
}
.post_body img{
	padding: 10px;
}
.post_details{
	padding: 50px;
	padding-top: 20px;
}
.post_title{
	margin-bottom: 20px;
}
.post_title h2{
	float: left;
	width: 550px;
}
.post_title a{
	color: #444;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
}
.post_title a:hover{
	color: #cc5767;
}
.post_title span{
	color: #888888;
	float: right;
	font-weight: bold;
	padding-top: 10px;
}
.post_content p{
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 20px;
	text-align: justify;
}
.read_more a{
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #d56979;
	padding: 15px;
	border-radius: 2px;	
	float: right;
}
.read_more a:hover{
	background-color: #cc5767;
}
#sidebar_area{
	width: 400px;
	float: left;	
}
.sidebar{
	min-height: 300px;
	width: 400px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #ffffff;
}
#cover_image{
	height: 200px;
	width: 380px;
	padding: 10px;
}
#profile_image{
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 55px;
	border: 2px solid #e2e2e2;
	margin-left: 190px;
	margin-top: 30px;
}
#writter_detail{
	padding: 35px;
}
#writter_title{
	margin-bottom: 15px;
	font-weight: bold;
	display: inline-block;
}
#writter_title h2{
	color: #444;
	float: left;
	font-size: 18px;
	width: 100px;
}
#writter_title a{
	color: #888888;
	float: right;
	font-size: 13px;
	padding-top: 4px;
}
#writter_content{
	font-size: 17px;
	line-height: 24px;
}
.widget{
	padding: 35px;
}
.widget h3{
	color: #444;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.widget p{
	font-size: 17px;
	line-height: 24px;
}
.instragram_item{
	float: left;
	padding: 5px;
}
.instragram_item img{
	margin: 0;
	padding: 0;
	width: 155px;
	border-radius: 5px;
}
#widget_email_subscribe input[type=text]{
	height: 40px;
	width: 96%;
	color: #444;
	background-color: #f7f7f7;
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin-top: 15px;
	padding-left: 10px;
}
#widget_email_subscribe input[type=submit]{
	width: 100%;
	height: 42px;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background-color: #d56979;
	margin-top: 15px;
}
#widget_email_subscribe input[type=submit]:hover{
	background-color: #cc5767;
}
#footer_wraper{
	width: 100%;
	height: 50px;
	background-color: #ffffff;
}
#file_icon{
	width: 8%;
	height: 50px;
	text-align: center;
	display: inline-block;
}
#file_icon img{
	width: 50px;
	height: 50px;
}
#footer{
	width: 92%;
	height: 50px;
	float: right;
	text-align: center;
	background-color: #ef8496;	
}
#footer a{
	font-size: 17px;
	color: #551a8b;
	text-decoration: none;
}
#footer_bottom_area{
	width: 100%;
	background-color: #d56979;
}
#footer_bottom{
	width: 1130px;
	padding: 50px 0;
	margin: 0 auto;
}
#footer_bottom li{
	list-style-type: none;
}
#footer_bottom li i{
	padding-right: 10px;
}
#footer_bottom a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	line-height: 25px;
}
#footer_bottom_left{
	min-height: 250px;
	float: left;
	width: 49%;
	border-right: 1px solid #dddddd;
}
#footer_bottom_right{
	min-height: 250px;
	float: right;
	width: 50%;
}
#footer_bottom_right a{
	margin-left: 20px;
}
#footer_bottom_link{
	min-height: 50px;
	width: 1130px;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #dddddd;
}
#footer_bottom_link a{
	font-size: 17px;
	color: #dddddd;
	text-decoration: none;
}