html, body, div, span,object, iframe,
h1, h2, h3, h4, h5, h6, p,ul, li,tr, th,
td,footer, header,menu,output,section,
summary,time, mark,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}
#wraper{
	background-image:url(images/head_phone.png);
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: center bottom;
}
#header{
	color: #e9ffff;
	text-align: center;
	padding-top: 100px;
}
#site_name{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
#tag_line{
	font-size: 20px;
	text-align: center;
}
#menubar_area{
	width: 100%;
	background-color: #4abbe6;
	background-image: linear-gradient(to bottom, #4abbe6, #1796c6);
}
#menubar{
	height: 50px;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 50px;
}
#menubar .active{
	color: #ffffff;
}
#menubar li{
	list-style-type: none;
	display: inline-block;
}
#menubar a{
	color: #8cd5f0;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
}
#menubar a:hover{
	color: #ffffff;
}
#menubar_left li{
	float: left;
	padding: 15px 25px 15px 0;
}
#menubar_right{
	float: right;
}
#menubar_right li{
	height: 40px;
	width: 40px;
	text-align: center;
	margin-top: 5px;
	background-color: #0087be;
	border-radius: 22px;
}
#menubar_right span{
	font-size: 20px;
	margin-top: 10px;
}
#menubar #menubar_right li:hover{
	background-color: #337ab7;
}
#container{
	width: 1200px;
	margin: 0 auto;
}
#post_area{
	width: 780px;
	float: left;
}
#post_body{
	min-height: 500px;
	width: 770px;
	margin-bottom: 50px;
	border-radius: 10px;
	background-color: #ffffff;
}
#sidebar_area{
	width: 400px;
	float: right;	
}
#sidebar{
	min-height: 300px;
	width: 400px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #ffffff;
}
#footer_area{
	width: 100%;
	background-color: #ffffff;
}
#footer{
	width: 100%;
	background-color: #bbbbbb;
}
#footer_menu{
	height: 100px;
	width: 1200px;
	margin: 0 auto;	
}
#footer_wraper{
	min-height: 400px;
	width: 1200px;
	margin: 0 auto;
}