html, body, div, span,object, iframe,
h1, h2, h3, h4, h5, h6, p,ul, li,tr, th,
td,footer, header,menu,output,section,
summary,time, mark,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}
#wraper{
	width: 100%;
	background-color: #fafafa;
}
#toper{
	width: 1130px;
	margin: 0 auto;
	padding: 8px 12px;
	font-size: 17px;
	color: #ffffff;
	background-color: #930;
}
#header{
	width: 1150px;
	height: 130px;
	margin: 0 auto;
	margin-top: 30px;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
}
#menubar{
	width: 1150px;
	margin: 0 auto;
	background-color: #cc3333;
}
#menubar li{
	list-style-type: none;
	display: inline-block;
	padding: 16px 19px;
	border-right: 1px solid #b72e2e;
}
#menubar a{
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
}
#menubar li:hover{
	background-color: #b72e2e;
}
.menu ul{
	display: none;
	position: absolute;
	list-style-type: none;
	margin-top: 16px;
	margin-left: -20px;
	width: 180px;
}
#menubar .menu ul li{
	width: 180px;
	padding: 10px 25px;
	background-color: #ffffff;
	border: none;
}
#menubar .menu ul li a{
	color: #777777;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}
.menu:hover ul{
	display: block;
}
#menubar .menu ul li:hover{	
	background-color: #ffffff;
}
#menubar .menu ul li:hover a{
	color: #000000;
}
#banner{
	width: 1150px;
	height: 346px;
	margin: 20px auto 10px auto;
	background-image: url(images/slide_photo107.jpg);
	background-repeat: no-repeat;
}
#banner:hover .push_button{
	display: inline-block;
}
.push_button{
	display: none;
	padding-top: 150px;
	height: 65px;
	overflow: hidden;
	position: 0 0;
}
.push_button:hover{
	position: 0 -65px;
}
#banner_bottom{
	width: 1150px;
	margin: 0 auto;
}
.gallery_head{
	width: 220px;
	background-color: #cc3333;
	margin-bottom: 5px;
	padding: 8px 20px;
}
.gallery_head a{
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
}
.gallery_head:hover a{
	text-decoration: underline;
}
#left{
	width: 260px;
	float: left;
}
#left img{
	width: 260px;
}
#center{
	width: 550px;
	float: left;
	margin: 0 40px;
}
#center h2{
	font-size: 28px;
	font-weight: 500;
	color: #37adad;
	margin-bottom: 20px;
}
#center p{
	font-size: 14px;
	color: #444;
	text-align: justify;
}
#gallery_bottom{
	width: 550px;
	text-align: center;
	background-color: #12582f;
	padding: 5px 0;
	margin: 30px 0 20px 0;
}
#gallery_bottom a{
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
}
#gallery_bottom:hover a{
	text-decoration: underline;
}
#right{
	width: 260px;
	float: right;
}
#news{
	margin: 30px 0;
}
#news a{
	font-size: 20px;
	font-weight: 500;
	color: #4c9ed9;
	text-decoration: none;
}
#news a:hover{
	color: #2a6496;
	text-decoration: underline;
}
#news h5{
	font-size: 17px;
}
#news p{
	font-size: 13px;
	color: #aaa;
}
#gallery{
	width: 100%;
	padding: 30px 0;
	background-color: #ffffff;
}
#product_area{
	width: 1150px;
	height: 160px;
	margin: 0 auto;
	border: 1px solid #f1f1f1;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.product_image{
	height: 150px;
	width: 150px;
	margin: 5px 0;
	float: left;
	border-right: 1px solid #bbb;
}
.product_image img{
	height: 150px;
	width: 150px;
}
#container{
	width: 100%;
	background-color: #ffffff;
	padding: 10px 0 80px 0;
}
#content{
	width: 1150px;
	height: 400px;
	margin: 0 auto;
	color: #444;
}
.content_image{
	height: 230px;
	width: 270px;
	float: left;
	margin-right: 23px;
}
.content_image img{
	height: 225px;
	width: 265px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #bbb;
}
.content_image h3{
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.content_image p{
	font-size: 16px;
	text-align: justify;
}
#footer_area{
	width: 100%;
	background-color: #cc3333;
}
#footer{
	width: 1150px;
	margin: 0 auto;
	padding-top: 25px;
	color: #ffffff;
}
#footer h1{
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#footer a{
	color: #ffffff;
	text-decoration: none;
}
#footer a:hover{
	text-decoration: underline;
}
#footer p{
	font-size: 13px;
	padding-bottom: 15px;
}