html, body, div, span,object, iframe,
h1, h2, h3, h4, h5, h6, p,ul, li,tr, th,
td,footer, header,menu,output,section,
summary,time, mark,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color: #f9f9f9;
	width: 100%;
	margin: 0;
	padding: 0;
}
h3{
	color: #242424;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 12px;
}
.image_frame img{
	padding: 8px;
	background-color: #ffffff;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
}
#topbar_area{
	background-color: #d9372a;
	padding: 13.5px 0;
}
#topbar_area:hover{
	background-color: #cd3125;
}
#topbar{
	width: 1200px;
	margin: 0 auto;
}
#topbar a{
	color: #ffffff;
	text-decoration: none;
}
#topbar_heading{
	font-size: 18px;
	font-weight: 700;
	float: left;	
}
#topbar_heading span{
	border: 1px dashed #ffffff;
	padding: 0 5px;
}
#topbar_button{
	font-size: 14px;
	font-weight: 600;
	padding: 5px 20px;
	background-color: #34ad5d;
	border-radius: 3px;
	float: right;
}
#topbar_area:hover #topbar_button{
	padding-right: 30px;
}
#wraper_area{
	background-color: #1796c6;
	padding: 19px 0 14px 0;
}
#wraper{
	width: 1200px;
	margin: 0 auto;
}
#wraper_menu{
	float: right;
	margin-top: 20px;
}
#wraper_menu a{
	color: #8cd5f0;
	text-decoration: none;
	padding-left: 35px;
}
#wraper_menu a:hover{
	color: #ffffff;
}
.active{
	color: #ffffff;
}
#header_area{
	background-color: #ffffff;
	padding: 52px 0;
}
#header{
	width: 1200px;
	margin: 0 auto;
}
#header p{
	color: #606060;
	font-size: 14px;
}
#featured_area{
	background-color: #ededed;
	padding: 60px 0;
	margin-bottom: 60px;
}
#featured{
	width: 1200px;
	margin: 0 auto;
}
#featured h3{
	margin-bottom: 20px;
}
#featured p{
	color: #606060;
	font-size: 17px;
	margin-bottom: 40px;
}
#featured_content{
	width: 47%;
	float: left;
	padding-right: 35px;
}
.button{
	padding: 10px 30px;
	border-radius: 3px;
	float: left;
}
.button a{
	color: #ffffff;
	font-size: 13px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}
#button_1{
	background-color: #855085;
	margin-right: 10px;
}
#button_1:hover{
	background-color: #5b365b;
}
#button_2{
	background-color: #7fba5c;
}
#button_2:hover{
	background-color: #76b550;	
}
#home_featured_image{
	width: 50%;
	float: right;
}
#container{
	min-height: 1000px;
	width: 1200px;
	margin: 0 auto;
}
#container h3{
	font-size: 21px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;
}
#post_area{
	margin-bottom: 100px;
}
#post_area img{
	width: 360px;	
}
#post_left{
	float: left;
	margin-right: 32px;
}
#post_middle{
	float: left;
	margin-right: 32px;
}
#post_right{
	float: left;
}
.post_area{
	margin-bottom: 100px;
}
.post_area img{
	width: 260px;	
}
.post_left{
	float: left;
	margin-right: 29px;
}
.post_middle_1{
	float: left;
	margin-right: 29px;
}
.post_middle_2{
	float: left;
	margin-right: 29px;
}
.post_right{
	float: left;
}
#footer_area{
	background-color: #121921;
	padding: 45px 0;
}
#footer{
	width: 1200px;
	margin: 0 auto;
}
#footer p{
	color: #ffffff;
	font-size: 24px;
}
#footer_bottom{
	height: 550px;
	background-color: #ffffff;
}