html, body, div, span,object, iframe,
h1, h2, h3, h4, h5, h6, p,ul, li,tr, th,
td,footer, header,menu,output,section,
summary,time, mark,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color: #f9f9f9;
	width: 100%;
	margin: 0;
	padding: 0;
}
h3{
	color: #242424;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 12px;
}
.image_frame img{
	padding: 8px;
	background-color: #ffffff;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
}
#topbar_area{
	background-color: #d9372a;
	padding: 17px 0 10px 0;
}
#topbar_area:hover{
	background-color: #cd3125;
}
#topbar{
	width: 1200px;
	margin: 0 auto;
}
#topbar a{
	color: #ffffff;
	text-decoration: none;
}
#topbar_heading{
	font-size: 18px;
	font-weight: 700;
	float: left;	
}
#topbar_heading i{
	padding-right: 5px;
}
#topbar_heading span{
	border: 1px dashed #ffffff;
	padding: 0 5px;
}
#topbar_button{
	font-size: 14px;
	font-weight: 600;
	padding: 4px 15px 5px;
	margin-top: -5px;
	margin-bottom: 5px;
	background-color: #34ad5d;
	border-radius: 3px;
	float: right;
}
#topbar_button i{
	font-size: 17px;
	font-weight: 700;
	padding-left: 5px;
}
#topbar_area:hover #topbar_button i{
	font-size: 18px;
	padding-left: 10px;
}
#wraper_area{
	background-color: #1796c6;
	padding: 19px 0 15px 0;
}
#wraper{
	width: 1200px;
	margin: 0 auto;
}
#wraper_menu{
	float: right;
	margin-top: 20px;
}
#wraper_menu a{
	font-size: 17px;
	color: #8cd5f0;
	text-decoration: none;
	padding-left: 25px;
}
#wraper_menu a:hover{
	color: #ffffff;
}
#wraper_menu i{
	font-size: 15px;
	padding-right: 7px;
}
.active{
	color: #ffffff;
}
#header_area{
	background-color: #ffffff;
	padding: 52px 0;
}
#header{
	width: 1200px;
	margin: 0 auto;
}
#header p{
	color: #606060;
	font-size: 14px;
}
#search_box{
	width: 325px;
	float: right;
	margin-top: 10px;
	border: 1px solid #dddddd;
}
#search_box input{
	height: 37px;
	width: 280px;
	color: #8b8b8b;
	font-size: 14px;
	padding: 0 10px;
	border: none;1
}
#search_box a{
	color: #ffffff;
	background-color: #1796c6;
	padding: 10px 13px;
}
#featured_area{
	background-color: #ededed;
	padding: 60px 0;
	margin-bottom: 60px;
}
#featured{
	width: 1200px;
	margin: 0 auto;
}
#featured_content{
	width: 47%;
	float: left;
	padding-right: 35px;
}
#featured_content h3{
	width: 430px;
	margin-bottom: 20px;
	float: left;
}
#featured_button a{
	font-size: 10px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #1798c9;
	background: linear-gradient(to bottom,#1db0e8,#1798c9);
	border-radius: 4px;
	padding: 3px 8px 6px;
	margin-top: 5px;
	float: left;
}
#featured_content p{
	color: #606060;
	font-size: 17px;
	margin-bottom: 40px;
}
.button{
	padding: 10px 30px;
	border-radius: 3px;
	float: left;
}
.button a{
	color: #ffffff;
	font-size: 13px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}
#button_1{
	background-color: #855085;
	margin-right: 10px;
}
#button_1:hover{
	background-color: #5b365b;
}
#button_2{
	background-color: #7fba5c;
}
#button_2:hover{
	background-color: #76b550;	
}
#home_featured_image{
	width: 50%;
	float: right;
}
#container{
	min-height: 1000px;
	width: 1200px;
	margin: 0 auto;
}
.container_head{
	margin-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;	
}
#container h3{
	width: 1000px;
	font-size: 21px;
	float: left;
}
#post_area{
	margin-bottom: 100px;
}
.post_button{
	float: right;
}
.post_button a{
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #1798c9;
	border-radius: 3px;
	padding: 6px 8px;
	margin-top: 5px;
	float: left;
}
#post_area img{
	width: 360px;	
}
#post_left{
	float: left;
	margin-right: 32px;
}
#post_middle{
	float: left;
	margin-right: 32px;
}
#post_right{
	float: left;
}
.post_area{
	margin-bottom: 100px;
}
.post_area img{
	width: 260px;	
}
.post_left{
	float: left;
	margin-right: 29px;
}
.post_middle_1{
	float: left;
	margin-right: 29px;
}
.post_middle_2{
	float: left;
	margin-right: 29px;
}
.post_right{
	float: left;
}
#footer_area{
	background-color: #121921;
	padding: 44px 0;
}
#footer{
	width: 1200px;
	margin: 0 auto;
}
#footer h5{
	color: #ffffff;
	font-size: 23px;
	float: left;
}
#rocket i{
	color: #ffffff;
	font-size: 22px;
	padding-right: 20px;
	float: left;
}
#footer_button{
	float: right;
}
#footer_button a{
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	background-color: #7fba5c;
	border-radius: 3px;
	padding: 13px 32.5px 14px;
}
#footer_button i{
	padding-left: 5px;
}
#footer_bottom_area{
	background-color: #ffffff;
	padding: 50px 0;
}
#footer_bottom{
	width: 1200px;
	margin: 0 auto;
}